.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containerFluid{
    max-width: 100%;
}

.container{
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.welcome{
    font-family: 'Inter';
    line-height: 48px;
    font-size: 32px;
    text-align: center;
}

.groupForm{
    max-width: 400px;
    height: 671px;
    border-radius: 20px;
    border: 1px solid #0000001A;
    margin: 0 auto;
    margin-top: 50px;
}

.account{
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: #00000099;
    text-align: center;
    margin-top: -15px;
}

.email{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    margin-left: 25px;
    margin-top: 40px;
}

.groupEmail {
    position: relative;
    width: fit-content;
    display: flex;
    margin: auto;
}

.ipEmail {
    font-family: 'Inter';
    font-size: 16px;
    width: 334px;
    height: 48px;
    border: 1px solid #0000001A;
    background: #F0F0F0;
    border-radius: 12px;
    padding-right: 5px;
    padding-left: 12px;
}

.iconEmail {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    pointer-events: none;
}

.password {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  margin-left: 25px;
  margin-top: 15px;
}

.ipPassword {
  font-family: 'Inter';
  font-size: 16px;
  width: 334px;
  height: 48px;
  border: 1px solid #0000001A;
  background: #F0F0F0;
  border-radius: 12px;
  padding-right: 5px;
  padding-left: 12px;
}

.iconPassword {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000;
    cursor: pointer;
    pointer-events: auto;
}


.groupPass {
  position: relative;
  width: fit-content;
  margin: auto;
}

.rememberForgot{
    display: flex;
    margin-top: 15px;
}

.remember{
    display: flex;
    margin-left: 25px;
    margin-bottom: 20px;
}

.cbRemember{
    width: 16px;
    height: 16px;
    margin-top: 14px;
    margin-right: 7px;
    cursor: pointer;
}

.textRemember{
    color: #00000099;
    font-family: 'Inter';
    font-size: 14px;
    cursor: pointer;
}

.textForgot{
    font-family: 'Inter';
    font-size: 14px;
    margin-left: 110px;
    cursor: pointer;
}

.btnLogin{
    width: 334px;
    height: 54px;
    font-family: 'Inter';
    font-size: 16px;
    border-radius: 62px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.btnLogin:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.continue{
    font-size: 14;
    font-family: 'Inter';
    color: #00000099;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.borderIcon{
    width: 161px;
    height: 48px;
    border: 1px solid #0000001A;
    border-radius: 12px;
    cursor: pointer;
}

.borderIcon:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.borderIcon{
    width: 161px;
    height: 48px;
    border: 1px solid #0000001A;
    border-radius: 12px;
    margin-top: 10px;
}

.logo{
    display: flex;
    justify-content: space-around;
}

.borderIcon img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 70px;
}

.createAccount{
    display: flex;
    margin-top: 15px;
}

.noAccount{
    font-size: 14px;
    color: #00000099;
    font-family: 'Inter';
    margin-left: 85px;
    margin-right: 10px;
}

.signupLink{
    text-decoration: none;
    color: #000;
    font-family: 'Inter';
    font-size: 14px;
    margin-top: 14px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  max-height: 95vh;
  overflow-y: auto;
  position: relative;
}

.modalClose {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}


@media screen and (max-width: 768px){
    .container{
        max-width: 720px;
        padding: 0 10px;
    }

    .groupForm{
        max-width: 400px;
        height: 691px;
        border-radius: 20px;
        border: 1px solid #0000001A;
        margin: 0 auto;
        margin-top: 50px;
    }
}